/* =============
    Base
============= */
ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }

    button {
        background-color: #E3907E;
        font-family: "Titillium Web", Arial, serif;
        font-style: bold;
        font-size: 14px;
        color: #fff;
    }

    address {
        font-family: "Titillium Web", Arial, serif;
        font-style: bold;
        font-size: 12px;
        color: $mintgreen;
    }
}