/* =============
    Navigation
============= */
#navigation {

    float: left;

    font-family: "Titillium Web", Arial, serif;
    font-style: regular;
    font-size: 14px;
    color: #000;


    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". navigation .";


    >div {
        grid-area: navigation;
        padding-top: 30px;
        padding-bottom: 30px;
    }

}

#navigation {
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". navigation .";
    background-color: $white;
    

    @include xl {
        grid-template-columns: auto 1000px auto;

        div {
            font-family: "Titillium Web", Arial, serif;
            font-style: regular;
            font-size: 35px;
            color: #000;
        }
    }

    >div {
        grid-area: search;

        form {

            align-content: flex-end;

            button {
                background-color: $pink;
            }
        }
    }
}