/* =============
    section-2
============= */
#section-2 {

    padding-bottom: 30px;

    h1 {
        font-family: "Amaranth", Helvetica, serif;
        font-style: bold;
        font-size: 22px;
        color: #fff;
    }

    @include md {
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". section-2 .";
        
        h1 {
            font-family: "Amaranth", Helvetica, serif;
            font-style: bold;
            font-size: 29px;
            color: #fff;
        }
    }

    @include xl {
        grid-template-columns: auto 1000px auto;

        h1 {
            font-family: "Amaranth", Helvetica, serif;
            font-style: bold;
            font-size: 31px;
            color: #fff;
        }
    }

    ul {
        display: grid;
        gap: 16px;

        @include md {
            grid-template-columns: 50% auto;
            gap: 24px;
            grid-area: section-2;
        }

        li {
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". section-2-content .";
            background-color: $lightblue;

            >div {
                grid-area: section-2-content;
            }
        }
    }
}