/* =============
    footer
============= */
footer {
    
    background-color: $darkblue;
    color: $mintgreen;
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". footer .";

    h1 {
        font-family: "Amaranth", Helvetica, serif;
        font-style: bold;
        font-size: 20px;
        color: #fff;
    }

    
    address {
        font-family: "Titillium Web", Arial, serif;
        font-style: bold;
        font-size: 12px;
        color: $mintgreen;
    }


    @include xl{
        grid-template-columns: auto 1200px auto;
    }

    >div {
        grid-area: footer;
        // border: 1px solid red;
        @include md{
            display: grid;
            grid-template-columns: 50% auto;
            grid-template-areas: 
            "locations sing-up"
            "locations follow";
        }

        @include xl{
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: 
            "locations sing-up follow";
        }

        section{
            // border: 1px solid thistle;

            ul{
                li{
                    i{
                        color: $mintgreen;
                    }
                }
            }
        }

        #locations{
            @include md{
                grid-area: locations;
            }
        }

        #sign-up{
            @include md{
                grid-area: sing-up;
            }
        }

        #follow{
            @include md{
                grid-area: follow;
            }
        }

    }
}